<!--Here,we can create new users-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    
  <title>Schneider Calendar</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div>
  <img src="/images/correct_logo.png" style="width: 180px;   max-height: 80px; padding-left: 5px;">
  <a class="btn btn-dark btn-lg" href="/userpage" role="button" style="background-color: limegreen; margin-top: 15px;border: none; margin-right: 20px; font-size: 15px; border-radius: 15px;float: right;">User page</a>
  <hr>
</div>
<div class="container mt-5" style="margin-top: 450px; margin-left: 250px;">
  
  <h2 class="display-3">Hello Admin!</h2>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body" style="background-color: grey;">

            <a class="btn btn-dark btn-lg" href="/registerUser" role="button" style="background-color: limegreen;border: none; margin-top: 5px;margin-right: 10px; font-size: 15px; border-radius: 15px;float: left;">Create new user</a>
            

        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>

